.register-container {
  min-height: 100vh;
  background-color: #f8f9fa;
  display: flex;
  align-items: center;

  .card {
    border-radius: 1rem;
    overflow: hidden;
  }

  .btn-primary {
    transition: all 0.3s ease;
    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    }
  }

  .form-floating label {
    display: flex;
    align-items: center;
  }

  .content-left {
    margin-top: 50px;

    .brand {
      text-transform: uppercase;
      font-size: 30px;
      color: #1877f2;
    }
    .details {
      font-size: 20px;
    }
  }

  .content-right {
    .brand {
      text-transform: uppercase;
      font-size: 20px;
      color: #1877f2;
      text-align: center;
      font-weight: 600;
    }
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgb(0 0 0/ 10%), 0 8px 16px rgb(0 0 0 / 10%);
    box-sizing: border-box;

    .forgot-password {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
